<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Oikos - Todo, cuando los necesitás.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="../../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Views/ControlActions.js"></script>
    <script src="~/Scripts/Views/SessionManager.js"></script>
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../../Images/icon.png">

    <!-- Google font (font-family: 'Roboto', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="../../Content/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/plugins.css">

    <!-- Style Css -->
    <link rel="stylesheet" href="../../Content/style.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="../../Content/custom.css">

</head>


@RenderBody()

<script src="../../Scripts/Views/shoppingCartCount.js"></script>
<script src="../../Scripts/popper.min.js"></script>
<script src="../../Scripts/plugins.js"></script>
<script src="../../Scripts/main.js"></script>
<script src="../../Scripts/modernizr-3.6.0.min.js"></script>
</html>